<mat-tab-group>
  <mat-tab label="Create">
    <form [formGroup]="taskForm" class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Task Title" formControlName="title">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Task description" formControlName="description"></textarea>
      </mat-form-field>
      <button mat-raised-button [disabled]="taskForm.invalid || taskForm.pristine" (click)="addTask()">Add Task</button>
    </form>
    <mat-list dense>
      <mat-list-item *ngFor="let task of tasks">
        <span matLine matTooltip="{{task.description}}" [ngStyle]="{'text-decoration': task.done?'line-through':''}">{{ task.title }} </span>
        <mat-checkbox [(ngModel)]="task.done" (change)="updateTask(task)">Done</mat-checkbox>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Pending">
    <app-task-list [tasks]="tasks" [done]="false"></app-task-list>
  </mat-tab>
  <mat-tab label="Completed">
    <app-task-list [tasks]="tasks" [done]="true"></app-task-list>
  </mat-tab>
</mat-tab-group>
